@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.but {
	box-sizing: border-box;
	margin-left: 27px;
	width: 7rem;
	height: 2rem;
	border: transparent;
	border-radius: 10px;
	font-family: 'Russo One', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	color: #1b1b1b;
	background-color: #fcca28;
	cursor: pointer;
	outline: none;
	transition: all 0.3s;
}

.but:hover,
.but-1:hover {
	background-color: #fccb287a;
}

.but-1 {
	margin-left: 5.45rem;
	box-sizing: border-box;
	width: 8rem;
	height: 2.2rem;
	border: transparent;
	border-radius: 10px;
	font-family: 'Russo One', sans-serif;
	font-size: 15.5px;
	text-transform: uppercase;
	color: #000000;
	background-color: #fcca28;
	cursor: pointer;
	outline: none;
	transition: all 0.3s;
}

.plants-box {
	background-color: #1b1b1b;
	overflow: hidden;
	padding: 0.1px;
	margin-bottom: 30px;
	height: 34.5rem;
	width: 100%;
	border: 1px solid;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 1px 1px 3px 2px #b9b1b1;
}

.plants-box figure {
	object-fit: cover;
}

.plants-box .imgg {
	height: 19rem;
	width: 18.9rem;
	margin-bottom: 0.35rem;
}

.plants-box h3 {
	text-align: center;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	color: #fcca28;
}
.plants-box p {
	text-align: center;
	font-size: 17px;
	line-height: 30px;
	color: #ffffc2;
}
