.row {
	justify-content: center;
}

.bar2 {
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
	/* background-color: #ccd1d9; */
	color: #25274d;
	font-weight: bold;
	border-radius: 50px;
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
}

.pgcontent {
	display: inline;
	font-size: 20px;
}

.bar2 .arro {
	font-size: 35px;
}

.bar2 .arrod {
	font-size: 35px;
	color: #25274dc2;
}
