.but {
	box-sizing: border-box;
	margin-left: 27px;
	width: 7rem;
	height: 2rem;
	border: transparent;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	background-color: rgb(255, 196, 0);
	cursor: pointer;
	outline: none;
	transition: all 0.3s;
}

.but:hover,
.but-1:hover {
	background-color: #74690c;
	letter-spacing: 0.5px;
}

.but-1 {
	margin-left: 5.5rem;
	box-sizing: border-box;
	width: 8rem;
	height: 2.2rem;
	border: transparent;
	border-radius: 10px;
	font-family: 'Syne Mono', monospace;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	background-color: rgb(255, 196, 0);
	cursor: pointer;
	outline: none;
	transition: all 0.3s;
}

.plants-box {
	display: block;
	background-color: #142740;
	box-shadow: #dcd8d8 0px 1px 3px 0px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 37.5rem;
	width: 19rem;
}

.plants-box figure img {
	height: 19rem;
	width: 19rem;
}

.plants-box h3 {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
	padding-bottom: 0px;
	color: wheat;
}
.plants-box p {
	text-align: center;
	font-size: 17px;
	font-family: 'Source Serif Pro', serif;
	line-height: 30px;
	padding-right: 10px;
	padding-left: 10px;
	color: wheat;
}
