@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Rajdhani:wght@700&display=swap');

.trow .remove {
	color: blue;
	text-decoration: underline;
}

.trow .remove:hover {
	color: rgb(204, 6, 6);
}

.xx {
	background-color: #d5dae0;

	/* height: 42rem; */
}

.trow,
.tdata {
	color: rgb(29, 45, 77);
	text-align: center;
}

.sheading {
	color: #011126;
	text-align: center;
	text-decoration: underline;
	font-family: 'Do Hyeon', sans-serif;
}

.cart-value {
	text-align: center;
}

.pay-button {
	text-align: center;
}

.butt:hover {
	background-color: #74690c;
	letter-spacing: 0.5px;
	color: ivory;
}

.butt {
	margin-left: 7.6rem;
	box-sizing: border-box;
	width: 8rem;
	height: 2.2rem;
	border: transparent;
	border-radius: 10px;
	font-family: 'Syne Mono', monospace;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	background-color: rgb(233, 202, 103);
	cursor: pointer;
	outline: none;
	transition: all 0.3s;
}
