@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.navBar2 {
	position: relative;
	background-color: #1b1b1b;
	color: #ffc107;
	padding-top: 5px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Bai Jamjuree', sans-serif;
}

.selected .tx {
	color: #ffc107;
	border-bottom: 1px solid #ffc107;
	padding-bottom: 3.6px;
	border-bottom-width: 3.5px;
	border-bottom-style: solid;
}

.sections2 {
	display: inline-block;
}
.section2 {
	display: inline-block;
	color: #d8e4f5;
	font-size: 16px;
	padding-right: 1vw;
	padding-left: 1vw;
	border: 20px;
}

.tx {
	border-style: ridge;
	border-color: rgba(255, 255, 255, 0);
	border-width: 1.5px;
	transition: color 0.2s;
}
