@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.navBar2 {
	position: relative;
	background-color: #142740;
	color: #f2f2f2;
	padding-top: 5px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Goldman', cursive;
}

.selected .tx {
	color: rgb(245, 171, 33);
}

.sections2 {
	display: inline-block;
}
.section2 {
	display: inline-block;
	color: #f2f2f2;
	font-size: 16px;
	padding-right: 1vw;
	padding-left: 1vw;
	border: 20px;
}

.tx {
	border-style: ridge;
	border-color: rgba(255, 255, 255, 0);
	border-width: 1.5px;
	transition: color 0.3s;
}

.tx:hover {
	border-style: ridge;
	border-color: #f2f2f2;
	border-width: 1.5px;
	border-radius: 2px;
}
