@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.footer {
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #011126;
	color: wheat;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
}

.footer .footer-logo-collection {
	justify-content: center;
	padding-top: 35px;
	padding-bottom: 10px;
}

.footer-logo {
	height: 5em;
	width: auto;
	margin: 0px 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.fcontent {
	padding: 1em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.rule-bottom {
	background-color: wheat;
	width: 60%;
	margin-top: -1px;
}

.fcontent .flink {
	letter-spacing: 1px;
}

.flink {
	color: rgb(245, 171, 33);
	text-decoration: none;
	transition: color 0.5s;
}

.flink:hover {
	text-decoration: none;
}

.fcaption {
	margin-top: -0.9rem;
	padding-bottom: 0.5rem;
	word-spacing: 1px;
}
