.item-get .item-form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	background-image: url('../../images/CWVgt8S-black-and-blue-backgrounds\ \(1\).jpg');
	position: relative;
	height: 480px;
	width: 460px;
	border-radius: 20px;
	bottom: 2vw;
	z-index: 40;
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
	z-index: 999;
}

.item-get .save-button {
	margin-top: 35px;
	margin-left: 31px;
}

.item-get .input-label,
.item-get .select {
	margin-left: 2px;
	font-family: 'Fredoka One', cursive;
	margin-top: 3px;
	color: #c5cbd4;
}

.item-get .error-message {
	position: absolute;
	margin-left: 2px;
	font-family: 'Do Hyeon', sans-serif;
}

.item-get .inpspace {
	margin-right: auto;
	margin-left: auto;
	width: 367px;
}

@media only screen and (max-width: 500px) {
	.admin-login .adm-form {
		width: 390px;
	}
	.admin-login .input-space {
		width: 300px;
	}
}
