.row {
	justify-content: center;
}

.bar {
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #ccd1d9;
	color: #25274d;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 50px;
}

.bar .sections3 {
	text-align: center;
}

.bar .sections3 .section3 {
	display: inline;
	word-spacing: 0.97rem;
}

.arrow {
	position: absolute;
	padding-left: 3px;
	padding-top: 3px;
}
