.admin-login .adm-form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	background-image: url('../../images/watercolor-background_87374-69.jpg');
	position: relative;
	height: 288px;
	width: 460px;
	border-radius: 20px;
	bottom: 2vw;
	z-index: 40;
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
	z-index: 999;
}

.headi {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
	margin-bottom: -1rem;
}

.admin-login .submit-button {
	margin-top: 35px;
	margin-left: 31px;
	font-family: 'Fredoka One', cursive;
}

.admin-login .input-label {
	margin-left: 30px;
	font-family: 'Fredoka One', cursive;
}

.admin-login .error-message {
	position: absolute;
	margin-left: 33px;
	font-family: 'Do Hyeon', sans-serif;
}

.admin-login .input-space {
	margin-right: auto;
	margin-left: auto;
	width: 367px;
}

@media only screen and (max-width: 500px) {
	.admin-login .adm-form {
		width: 390px;
	}
	.admin-login .input-space {
		width: 300px;
	}
}
