@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

.navBar .upper {
	background-color: #000000;
	height: 60px;
	color: white;
	padding-top: 5px;
}

.navBar .down {
	background-color: #1b1b1b;
	/* height: 40px; */
	position: absolute;
	width: 100%;
	margin-bottom: 50px;
}

/* logo */
.logo {
	margin-bottom: 20px;
	display: inline-block;
	width: 180px;
	margin-left: 10px;
	letter-spacing: 2.5px;
}

.logo-text {
	font-family: 'Rock Salt', cursive;
	color: #ffc107;
	font-size: 28px;
	transition: all 0.2s;
	text-shadow: 0.05em 0.05em 0em #ffc10741;
}

.logo-text:hover {
	color: #ffc107;
	text-decoration: none;
	letter-spacing: 3px;
}

.accountStuff {
	float: right;
	margin-right: 20px;
	font-family: 'Bai Jamjuree', sans-serif;
}

.section {
	display: inline-block;
	vertical-align: top;
	color: #d8e4f5;
	font-size: 19px;
	margin-top: 9px;
	margin-left: 10px;
	transition: color 1s;
}

.section .bt {
	font-size: 10px;
}

.section:hover {
	color: #f2f2f2;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.accountStuff .section {
		font-size: 17px;
		margin-top: 12px;
	}
}
