@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.navBar .upper {
	background-color: #011126;
	height: 60px;
	color: white;
	padding-top: 5px;
}

.navBar .down {
	background-color: #142740;
	height: 40px;
	position: absolute;
	width: 100%;
	margin-bottom: 50px;
}

/* logo */
.logo {
	margin-bottom: 20px;
	display: inline-block;
	width: 180px;
	margin-left: 10px;
	letter-spacing: 2.5px;
}

.logo-text {
	font-family: 'Pacifico', cursive;
	color: #c5cbd4;
	font-size: 30px;
	transition: all 0.2s;
	text-shadow: 0.08em 0.13em 0em rgb(0, 0, 0);
}

.logo-text:hover {
	color: #ccd1d9;
	text-decoration: none;
	letter-spacing: 3px;
}

.accountStuff {
	float: right;
	margin-right: 20px;
	font-family: 'Libre Baskerville', serif;
}

.section {
	display: inline-block;
	vertical-align: top;
	color: #d8e4f5;
	font-size: 20px;
	margin-top: 7px;
	margin-left: 10px;
	transition: color 1s;
}

.section .bt {
	font-size: 10px;
}

.section:hover {
	color: #f2f2f2;
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	.accountStuff .section {
		font-size: 18px;
		margin-top: 12px;
	}
}
