.register-form .reg-form {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
	background-image: url('../../images/CWVgt8S-black-and-blue-backgrounds\ \(1\).jpg');
	position: relative;
	height: 462px;
	width: 470px;
	border-radius: 20px;
	bottom: 2vw;
	z-index: 40;
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
	z-index: 999;
}

.register-form .register-button {
	margin-top: 35px;
	margin-left: 35px;
	font-family: 'Fredoka One', cursive;
}

.register-form .input-label {
	margin-left: 35px;
	font-family: 'Fredoka One', cursive;
	margin-top: 3px;
	color: #c5cbd4;
}

.register-form .error-message {
	position: absolute;
	font-family: 'Do Hyeon', sans-serif;
	margin-left: 35px;
}

.register-form .input-space {
	margin-right: auto;
	margin-left: auto;
	width: 367px;
	margin-bottom: 0px;
}

@media only screen and (max-width: 500px) {
	.admin-login .adm-form {
		width: 390px;
	}
	.admin-login .input-space {
		width: 300px;
	}
}
